<style>
  @font-face {
    font-family: "San Francisco Bold";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

  :root {
    /* Primary theme color */
    --primary-color: #26385D;

    /* Primary theme text color */
    --primary-text-color: #000;
    --primary-text-color-over: #000;

    /* Primary theme link color */
    --primary-link-color: #5277C3;

    /* Secondary color: the background body color */
    --secondary-color: #F2F8FD;
    --secondary-text-color: #000;

    /* Highlight text color of table of content */
    --toc-highlight-text-color: #5277C3;
    --toc-background-color: white;
    --code-color: #414141;
    --code-background-color: white;
    --shadow-color: #DDD;

    /* Font used for headers (h1 & h2) */
    --header-font-family: "Fira Sans", sans-serif;

    /* Font used for text */
    --text-font-family: "Fira Sans", sans-serif;
  }

  .logo {
    font-size: 30px !important;
    font-family: "San Francisco Bold" !important;
  }

  .logo, .nav-item, .hero-text, .explore-more {
    color: #fff !important;
  }
</style>
