{% extends "juice/templates/index.html" %}

{% block head %}
<link rel="icon" type="image/svg+xml" href="{{ get_url(path="xinux-nix-darwin.svg") }}">
<link rel="stylesheet" type="text/css" href="{{ get_url(path="custom.css") }}">
{% endblock head %}

{% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <h1 class="heading-text hero-text">
          Xinux Nix Darwin
        </h1>
        <h3 class="title-text hero-text">
            This project aims to bring the convenience of a declarative system approach to macOS
        </h3>
        <div>
            <a class="github-button" href="https://github.com/xinux-org/nix-darwin" data-size="large" data-show-count="true" aria-label="Star xinux-org/nix-darwin on GitHub">Yulduzcha</a>
            <a class="github-button" href="https://github.com/xinux-org/nix-darwin/fork" data-size="large"
            data-show-count="true" aria-label="Fork xinux-org/nix-darwin on GitHub">Ko'chirish</a>
        </div>
    </section>
    <img class="hero-image" style="width: 50%" src="{{ get_url(path="xinux-nix-darwin.svg") }}">

    <div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Let's Get Started ⇩
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }

        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style>
{% endblock hero %}

{% block sidebar %}
<div>
  <!-- <h2>Let's support maintainers!</h2> -->
  <!-- <iframe
    src="https://github.com/sponsors/emilazy/card"
    title="Sponsor emilazy"
    height="225"
    width="300"
    style="border: 0; border-radius: 25px;">
  </iframe> -->

  <!-- <iframe
    src="https://github.com/sponsors/Enzime/card"
    title="Sponsor Enzime"
    height="225"
    width="300"
    style="border: 0; border-radius: 25px;">
  </iframe> -->
</div>
{% endblock sidebar %}

{% block footer %}
<footer>
    <p>
        <small class="subtext text-center">
            <a href="https://github.com/xinux-org/nix-darwin">Xinux Nix Darwin</a> © 2025
        </small>
    </p>
    <p class="subtext text-center">
        The darwin logo inside made up nix-darwin's logo is derived from PureDarwin logo which can be found at
        <a href="https://www.puredarwin.org/wiki/#/about/_About?id=puredarwin-logo">www.puredarwin.org</a>.
    </p>
</footer>
{% endblock footer %}
